.logo
  color: fade-out(#f1f1f1, 0.25)
  font-size: 24px
  margin: 0
  letter-spacing: -1px
  text-shadow: 1px 1px 4px rgba(0,0,0,0.075)

  &.large
    color: fade-out(#f1f1f1, 0.5)
    font-size: 8rem
    letter-spacing: -6px

  span
    font-weight: 400
