section
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

.first-section
  background: url(/images/fog-background.png) no-repeat center center

.second-section
  background-color: rgba(0,0,0,0.25)
