@import '../config'
@import ~flexboxgrid-sass/flexboxgrid

section
  background-color: $gray-900
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
