# FOLDERS
node_modules/
dist/
dist-ssr/
.git/
.github/
.vscode/
.docker/
.idea/

# FILES
.env
.env.*
!.env.example
.gitignore
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*
README.md
LICENSE
Dockerfile
compose.yml
docker-compose.yml
