html
  scroll-behavior: smooth

body
  background-color: #51555d
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

a
  &
  &:visited
  &:link
  &:active
    text-decoration: none

.wrapper
  height: 100vh
