html
  scroll-behavior: smooth

body
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  background-color: #51555d
  color: fade-out(#f1f1f1, 0.25)
  margin: 0

a
  &,
  &:visited,
  &:link,
  &:active
    text-decoration: none

.wrapper
  height: 100vh

footer
  background-color: fade-out(darken(#51555d, 15%), 0.5)
  height: 400px
