.App {
  text-align: center;
}

.App-header {
  color:       #fff;
  font-size:   28px;
  font-weight: 400;
  height:      150px;
  padding:     20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
